@import "tailwindcss";
@import "fumadocs-ui/css/preset.css";

@source "../node_modules/fumadocs-ui/dist/**/*.js";
@source "../node_modules/fumadocs-openapi/dist/**/*.js";

/* 
  See `js-recall` (we'll want to import this, once the package is published): 
  https://github.com/recallnet/js-recall/blob/main/packages/ui/tailwind.config.ts 
*/
@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(240 10% 3.9%);
  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(240 10% 3.9%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(240 10% 3.9%);
  --color-primary: hsl(259, 100%, 65%);
  --color-primary-foreground: hsl(0 0% 98%);
  --color-secondary: hsl(240 4.8% 95.9%);
  --color-secondary-foreground: hsl(259, 100%, 65%);
  --color-muted: hsl(240 4.8% 95.9%);
  --color-muted-foreground: hsl(240 3.8% 46.1%);
  --color-accent: hsl(240 4.8% 95.9%);
  --color-accent-foreground: hsl(259, 100%, 65%);
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-border: hsl(240 5.9% 90%);
  --color-input: hsl(240 5.9% 90%);
  --color-ring: hsl(240 10% 3.9%);
  --color-chart-1: hsl(12 76% 61%);
  --color-chart-2: hsl(173 58% 39%);
  --color-chart-3: hsl(197 37% 24%);
  --color-chart-4: hsl(43 74% 66%);
  --color-chart-5: hsl(27 87% 67%);
  --radius: 0rem;

  --color-purple: hsl(259, 100%, 65%);

  /* Font families */
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  /* Border radius */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/* Base styles */
@layer base {
  :root {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
  * {
    border-color: var(--color-border);
  }
}

/* 
  Custom colors (keeping this separate from the `js-recall` theme above) 
  See examples: https://github.com/fuma-nama/fumadocs/blob/d8e89d7f7b11c433265ced3e5e63714499d4c892/packages/ui/css/vitepress.css
  */
@theme {
  --color-fd-background: var(--color-background);
  --color-fd-foreground: var(--color-foreground);
  --color-fd-muted: var(--color-muted);
  --color-fd-muted-foreground: var(--color-muted-foreground);
  --color-fd-popover: var(--color-popover);
  --color-fd-popover-foreground: var(--color-popover-foreground);
  --color-fd-card: var(--color-card);
  --color-fd-card-foreground: var(--color-card-foreground);
  --color-fd-border: var(--color-border);
  --color-fd-primary: var(--color-primary);
  --color-fd-primary-foreground: var(--color-primary-foreground);
  --color-fd-secondary: var(--color-secondary);
  --color-fd-secondary-foreground: var(--color-secondary-foreground);
  --color-fd-accent: var(--color-accent);
  --color-fd-accent-foreground: var(--color-accent-foreground);
  --color-fd-ring: var(--color-ring);
}

.dark {
  --color-background: hsl(240 10% 3.9%);
  --color-foreground: hsl(0 0% 98%);
  --color-card: hsl(240 10% 3.9%);
  --color-card-foreground: hsl(0 0% 98%);
  --color-popover: hsl(240 10% 3.9%);
  --color-popover-foreground: hsl(0 0% 98%);
  --color-primary: hsl(0 0% 98%);
  --color-primary-foreground: hsl(240 5.9% 10%);
  --color-secondary: hsl(240 3.7% 15.9%);
  --color-secondary-foreground: hsl(0 0% 98%);
  --color-muted: hsl(240 3.7% 15.9%);
  --color-muted-foreground: hsl(240 5% 64.9%);
  --color-accent: hsl(240 3.7% 15.9%);
  --color-accent-foreground: hsl(0 0% 98%);
  --color-destructive: hsl(0 62.8% 30.6%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-border: hsl(240 3.7% 15.9%);
  --color-input: hsl(240 3.7% 15.9%);
  --color-ring: hsl(240 4.9% 83.9%);
  --color-chart-1: hsl(220 70% 50%);
  --color-chart-2: hsl(160 60% 45%);
  --color-chart-3: hsl(30 80% 55%);
  --color-chart-4: hsl(259, 100%, 65%);
  --color-chart-5: hsl(340 75% 55%);

  --color-fd-background: var(--color-background);
  --color-fd-foreground: var(--color-foreground);
  --color-fd-muted: var(--color-muted);
  --color-fd-muted-foreground: var(--color-muted-foreground);
  --color-fd-popover: var(--color-popover);
  --color-fd-popover-foreground: var(--color-popover-foreground);
  --color-fd-card: var(--color-card);
  --color-fd-card-foreground: var(--color-card-foreground);
  --color-fd-border: var(--color-border);
  --color-fd-primary: var(--color-primary);
  --color-fd-primary-foreground: var(--color-primary-foreground);
  --color-fd-secondary: var(--color-secondary);
  --color-fd-secondary-foreground: var(--color-secondary-foreground);
  --color-fd-accent: var(--color-accent);
  --color-fd-accent-foreground: var(--color-accent-foreground);
  --color-fd-ring: var(--color-ring);
}

/* Custom styles */

/* Navbar changes to make opaque and use different bg on light mode */
#nd-subnav > div {
  @apply bg-fd-background backdrop-blur-none;
}

#nd-subnav,
#nd-tocnav {
  @apply bg-fd-background backdrop-blur-none;
}

/* Sidebar changes to make opaque and use different bg on light mode */
#nd-sidebar {
  @apply bg-fd-secondary backdrop-blur-none;
}

.dark #nd-sidebar {
  @apply bg-fd-background;
}

/* Enforce slightly smaller font for code on all pages */
code {
  color: inherit;
  font-size: 0.875em;
}

/* Customize inline code colors within callouts */
.nd-callout code {
  @apply border-fd-card-foreground/10 bg-fd-card-foreground/5;
}
button {
  @apply cursor-pointer;
}

/* Hide elements based on the theme, such as the logo */
:root[class~="dark"] [data-hide-on-theme="dark"],
:root:not([class~="dark"]) [data-hide-on-theme="light"] {
  @apply hidden;
}

/* Floating animation on landing page */
@keyframes floating {
  from,
  to {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(var(--x-offset), var(--y-offset));
  }
}

.floating-item {
  animation: floating 6s ease-in-out infinite;
}

@media (max-width: 1023px) {
  .floating-item {
    @apply motion-safe:animate-none;
  }
}

/* Reduce gap in list elements */
ul > li {
  margin-left: 1rem;
}
li > p {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

/* Handle nested lists */
li > ul {
  margin-top: 0.5rem;
}
