@import "tailwindcss";
@import "fumadocs-ui/css/preset.css";

@source "../node_modules/fumadocs-ui/dist/**/*.js";
@source "../node_modules/fumadocs-openapi/dist/**/*.js";

/* 
  See `js-recall` (we'll want to import this, once the package is published): 
  https://github.com/recallnet/js-recall/blob/main/packages/ui/tailwind.config.ts 
*/
@theme {
  /* Base color definitions—note that "official" colors have their names shown in comments:
    - Black: #1D1F2B (hs
    - Blue: #0064C7 
    - Green: #38A430
    - Yellow: #F9B700
    - Red: #E5342A              
    - Gray 01: #D2D9E1
    - Gray 02: #93A5BA
    - Gray 03: #596E89
    - Gray 04: #43505F
    - White: #E9EDF1

    Other colors were manually captured from pixel color pickers on brand assets.
  */
  --color-black: hsl(0, 0%, 0%);
  --color-black-5: hsl(0, 23%, 5%);
  --color-black-8: hsl(0 0% 8%);
  --color-black-13: hsl(0 0% 13%);
  --color-black-44: hsl(0 0% 44%);
  --color-white: hsl(0 0% 100%);
  --color-white-off: hsl(210, 22%, 93%); /* White */

  --color-grey-lightest: hsl(212, 20%, 85%); /* Gray 01 */
  --color-grey-lighter: hsl(215, 13%, 74%); /* Main site primary text color */
  --color-grey-light: hsl(212, 22%, 65%); /* Gray 02 */
  --color-grey-medium: hsl(214, 21%, 44%); /* Gray 03 */
  --color-grey-dark: hsl(212, 17%, 32%); /* Gray 04 */
  --color-grey-darker: hsl(231, 19%, 14%); /* Black */

  /* Accent colors */
  --color-blue: hsl(210, 100%, 39%); /* Blue */
  --color-green: hsl(116, 55%, 42%); /* Green */
  --color-yellow: hsl(44, 100%, 49%); /* Yellow */
  --color-red: hsl(3, 78%, 53%); /* Red */

  /* Light mode theme */
  --color-background: var(--color-white-off);
  --color-foreground: var(--color-grey-darker);
  --color-card: var(--color-grey-lightest);
  --color-card-foreground: var(--color-grey-darker);
  --color-popover: var(--color-white-off);
  --color-popover-foreground: var(--color-grey-darker);
  --color-primary: var(--color-grey-darker);
  --color-primary-foreground: var(--color-white-off);
  --color-secondary: var(--color-grey-lightest);
  --color-secondary-foreground: var(--color-grey-darker);
  --color-muted: var(--color-grey-lightest);
  --color-muted-foreground: var(--color-grey-dark);
  --color-accent: var(--color-grey-lightest);
  --color-accent-foreground: var(--color-grey-darker);
  --color-destructive: var(--color-red);
  --color-destructive-foreground: var(--color-white-off);
  --color-border: var(--color-grey-lighter);
  --color-input: var(--color-grey-light);
  --color-ring: var(--color-grey-darker);

  /* Chart colors (i.e., accent colors) */
  --color-chart-1: var(--color-red);
  --color-chart-2: var(--color-green);
  --color-chart-3: var(--color-grey-darker);
  --color-chart-4: var(--color-yellow);
  --color-chart-5: var(--color-blue);

  /* Font families */
  --font-sans: "ABCDiatype", Arial, Helvetica, ui-sans-serif, system-ui, sans-serif;
  --font-mono: "ABCDiatypeMono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

  /* Border radius */
  --radius: 0rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/* Base styles */
@layer base {
  :root {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
  * {
    border-color: var(--color-border);
  }
}

/* 
  Custom colors (keeping this separate from the `js-recall` theme above) 
  See examples: https://github.com/fuma-nama/fumadocs/blob/d8e89d7f7b11c433265ced3e5e63714499d4c892/packages/ui/css/vitepress.css
  */
@theme {
  --color-fd-background: var(--color-background);
  --color-fd-foreground: var(--color-foreground);
  --color-fd-muted: var(--color-muted);
  --color-fd-muted-foreground: var(--color-muted-foreground);
  --color-fd-popover: var(--color-popover);
  --color-fd-popover-foreground: var(--color-popover-foreground);
  --color-fd-card: var(--color-card);
  --color-fd-card-foreground: var(--color-card-foreground);
  --color-fd-border: var(--color-border);
  --color-fd-primary: var(--color-primary);
  --color-fd-primary-foreground: var(--color-primary-foreground);
  --color-fd-secondary: var(--color-secondary);
  --color-fd-secondary-foreground: var(--color-secondary-foreground);
  --color-fd-accent: var(--color-accent);
  --color-fd-accent-foreground: var(--color-accent-foreground);
  --color-fd-ring: var(--color-ring);
}

.dark {
  --color-background: var(--color-black-8);
  --color-foreground: var(--color-white-off);
  --color-card: var(--color-black-13);
  --color-card-foreground: var(--color-white-off);
  --color-popover: var(--color-black-8);
  --color-popover-foreground: var(--color-white-off);
  --color-primary: var(--color-white-off);
  --color-primary-foreground: var(--color-black-8);
  --color-secondary: var(--color-black-13);
  --color-secondary-foreground: var(--color-white-off);
  --color-muted: var(--color-black-5);
  --color-muted-foreground: var(--color-grey-lightest);
  --color-accent: var(--color-black-13);
  --color-accent-foreground: var(--color-white-off);
  --color-destructive: var(--color-red);
  --color-destructive-foreground: var(--color-white-off);
  --color-border: var(--color-black-13);
  --color-input: var(--color-black-13);
  --color-ring: var(--color-grey-lightest);
}
/* Custom styles */

/* Navbar changes to make opaque and use different bg on light mode */
#nd-subnav > div {
  @apply bg-fd-background backdrop-blur-none;
}

#nd-subnav,
#nd-tocnav {
  @apply bg-fd-background backdrop-blur-none;
}

/* Sidebar changes to make opaque and use different bg on light mode */
#nd-sidebar {
  @apply bg-fd-background backdrop-blur-none;
}

.dark #nd-sidebar {
  @apply bg-fd-background;
}

/* Enforce slightly smaller font for code on all pages */
code {
  color: inherit;
  font-size: 0.875em;
}

/* Customize inline code colors within callouts */
.nd-callout code {
  @apply border-fd-card-foreground/10 bg-fd-card-foreground/5;
}
button {
  @apply cursor-pointer;
}

/* Hide elements based on the theme, such as the logo */
:root[class~="dark"] [data-hide-on-theme="dark"],
:root:not([class~="dark"]) [data-hide-on-theme="light"] {
  @apply hidden;
}

/* Floating animation on landing page */
@keyframes floating {
  from,
  to {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(var(--x-offset), var(--y-offset));
  }
}

.floating-item {
  animation: floating 6s ease-in-out infinite;
}

@media (max-width: 1023px) {
  .floating-item {
    @apply motion-safe:animate-none;
  }
}

/* Don't wrap code in tables */
td > code {
  @apply whitespace-nowrap;
}

/* Customize code block styles to preserve new lines */
.fd-codeblock pre {
  @apply p-4 [&_.line]:block [&_.line]:min-h-[1.5em];
}

/* Reduce gap in list elements */
.prose ul > li {
  margin-left: 1rem;
}
.prose li > p {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

/* Handle nested lists */
.prose li > ul {
  margin-top: 0.5rem;
}

/* Navbar button (for callout / banner-like links) */
.navbar-button {
  @apply bg-blue text-fd-primary-foreground dark:text-accent-foreground hover:bg-blue/80 inline-flex items-center justify-center rounded-md p-2 text-sm font-medium transition-colors duration-100 max-md:hidden;
}

/* Sans-serif fonts */
@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-Ultra.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-UltraItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-ThinItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-HeavyItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatype";
  src: url("/fonts/ABCDiatype/ABCDiatype-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Monospace fonts */
@font-face {
  font-family: "ABCDiatypeMono";
  src: url("/fonts/ABCDiatypeMono/ABCDiatypeMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatypeMono";
  src: url("/fonts/ABCDiatypeMono/ABCDiatypeMono-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatypeMono";
  src: url("/fonts/ABCDiatypeMono/ABCDiatypeMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatypeMono";
  src: url("/fonts/ABCDiatypeMono/ABCDiatypeMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatypeMono";
  src: url("/fonts/ABCDiatypeMono/ABCDiatypeMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCDiatypeMono";
  src: url("/fonts/ABCDiatypeMono/ABCDiatypeMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
