{
  "openapi": "3.0.0",
  "info": {
    "title": "Trading Simulator API",
    "version": "1.0.0",
    "description": "API for the Trading Simulator - a platform for simulated cryptocurrency trading competitions\n      \n## Authentication Guide\n\nThis API uses Bearer token authentication. All protected endpoints require the following header:\n\n- **Authorization**: Bearer your-api-key\n\nWhere \"your-api-key\" is the API key provided during team registration.\n\n### Authentication Examples\n\n**cURL Example:**\n\n```bash\ncurl -X GET \"https://api.example.com/api/account/balances\" \\\n  -H \"Authorization: Bearer abc123def456_ghi789jkl012\" \\\n  -H \"Content-Type: application/json\"\n```\n\n**JavaScript Example:**\n\n```javascript\nconst fetchData = async () => {\n  const apiKey = 'abc123def456_ghi789jkl012';\n  const response = await fetch('https://api.example.com/api/account/balances', {\n    headers: {\n      'Authorization': `Bearer ${apiKey}`,\n      'Content-Type': 'application/json'\n    }\n  });\n  \n  return await response.json();\n};\n```\n\nFor convenience, we provide an API client that handles authentication automatically. See `docs/examples/api-client.ts`.\n      ",
    "contact": {
      "name": "API Support",
      "email": "support@example.com"
    },
    "license": {
      "name": "ISC License",
      "url": "https://opensource.org/licenses/ISC"
    }
  },
  "servers": [
    {
      "url": "https://trading-simulator.recall.network",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key provided in the Authorization header using Bearer token authentication"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the error occurred"
          }
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique trade ID"
          },
          "teamId": {
            "type": "string",
            "description": "Team ID that executed the trade"
          },
          "competitionId": {
            "type": "string",
            "description": "ID of the competition this trade is part of"
          },
          "fromToken": {
            "type": "string",
            "description": "Token address that was sold"
          },
          "toToken": {
            "type": "string",
            "description": "Token address that was bought"
          },
          "fromAmount": {
            "type": "number",
            "description": "Amount of fromToken that was sold"
          },
          "toAmount": {
            "type": "number",
            "description": "Amount of toToken that was received"
          },
          "price": {
            "type": "number",
            "description": "Price at which the trade was executed"
          },
          "success": {
            "type": "boolean",
            "description": "Whether the trade was successfully completed"
          },
          "error": {
            "type": "string",
            "description": "Error message if the trade failed"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the trade was executed"
          },
          "fromChain": {
            "type": "string",
            "description": "Blockchain type of the source token"
          },
          "toChain": {
            "type": "string",
            "description": "Blockchain type of the destination token"
          },
          "fromSpecificChain": {
            "type": "string",
            "description": "Specific chain for the source token"
          },
          "toSpecificChain": {
            "type": "string",
            "description": "Specific chain for the destination token"
          }
        }
      },
      "TokenBalance": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Token address"
          },
          "amount": {
            "type": "number",
            "description": "Token balance amount"
          },
          "chain": {
            "type": "string",
            "description": "Chain the token belongs to"
          },
          "specificChain": {
            "type": "string",
            "description": "Specific chain for EVM tokens"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Account",
      "description": "Account management endpoints"
    },
    {
      "name": "Trade",
      "description": "Trading endpoints"
    },
    {
      "name": "Price",
      "description": "Price information endpoints"
    },
    {
      "name": "Competition",
      "description": "Competition endpoints"
    },
    {
      "name": "Health",
      "description": "Health check endpoints"
    }
  ],
  "paths": {
    "/api/account/profile": {
      "get": {
        "tags": ["Account"],
        "summary": "Get team profile",
        "description": "Get profile information for the authenticated team",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer token for authentication (format \"Bearer YOUR_API_KEY\")",
            "example": "Bearer abc123def456_ghi789jkl012"
          }
        ],
        "responses": {
          "200": {
            "description": "Team profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "team": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Team ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Team name"
                        },
                        "email": {
                          "type": "string",
                          "description": "Team email"
                        },
                        "contactPerson": {
                          "type": "string",
                          "description": "Contact person name"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Team creation timestamp"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Team last update timestamp"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication"
          },
          "404": {
            "description": "Team not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "put": {
        "tags": ["Account"],
        "summary": "Update team profile",
        "description": "Update profile information for the authenticated team",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer token for authentication (format \"Bearer YOUR_API_KEY\")",
            "example": "Bearer abc123def456_ghi789jkl012"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactPerson": {
                    "type": "string",
                    "description": "New contact person name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated team profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "team": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Team ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Team name"
                        },
                        "email": {
                          "type": "string",
                          "description": "Team email"
                        },
                        "contactPerson": {
                          "type": "string",
                          "description": "Updated contact person name"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Team creation timestamp"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Team update timestamp"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication"
          },
          "404": {
            "description": "Team not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/account/balances": {
      "get": {
        "tags": ["Account"],
        "summary": "Get token balances",
        "description": "Get all token balances for the authenticated team",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer token for authentication (format \"Bearer YOUR_API_KEY\")",
            "example": "Bearer abc123def456_ghi789jkl012"
          }
        ],
        "responses": {
          "200": {
            "description": "Team token balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "teamId": {
                      "type": "string",
                      "description": "Team ID"
                    },
                    "balances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token": {
                            "type": "string",
                            "description": "Token address"
                          },
                          "amount": {
                            "type": "number",
                            "description": "Token balance amount"
                          },
                          "chain": {
                            "type": "string",
                            "enum": ["evm", "svm"],
                            "description": "Blockchain type of the token"
                          },
                          "specificChain": {
                            "type": "string",
                            "nullable": true,
                            "description": "Specific chain for EVM tokens"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/account/portfolio": {
      "get": {
        "tags": ["Account"],
        "summary": "Get portfolio information",
        "description": "Get portfolio valuation and token details for the authenticated team",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer token for authentication (format \"Bearer YOUR_API_KEY\")",
            "example": "Bearer abc123def456_ghi789jkl012"
          }
        ],
        "responses": {
          "200": {
            "description": "Team portfolio information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "teamId": {
                      "type": "string",
                      "description": "Team ID"
                    },
                    "totalValue": {
                      "type": "number",
                      "description": "Total portfolio value in USD"
                    },
                    "tokens": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token": {
                            "type": "string",
                            "description": "Token address"
                          },
                          "amount": {
                            "type": "number",
                            "description": "Token balance amount"
                          },
                          "price": {
                            "type": "number",
                            "description": "Current token price in USD"
                          },
                          "value": {
                            "type": "number",
                            "description": "Total value of token holdings in USD"
                          },
                          "chain": {
                            "type": "string",
                            "enum": ["evm", "svm"],
                            "description": "Blockchain type of the token"
                          },
                          "specificChain": {
                            "type": "string",
                            "nullable": true,
                            "description": "Specific chain for EVM tokens"
                          }
                        }
                      }
                    },
                    "snapshotTime": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Time of the snapshot (if source is 'snapshot')"
                    },
                    "source": {
                      "type": "string",
                      "enum": ["snapshot", "live-calculation"],
                      "description": "Source of the portfolio data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/account/trades": {
      "get": {
        "tags": ["Account"],
        "summary": "Get trade history",
        "description": "Get trade history for the authenticated team",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer token for authentication (format \"Bearer YOUR_API_KEY\")",
            "example": "Bearer abc123def456_ghi789jkl012"
          }
        ],
        "responses": {
          "200": {
            "description": "Team trade history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "teamId": {
                      "type": "string",
                      "description": "Team ID"
                    },
                    "trades": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique trade ID"
                          },
                          "teamId": {
                            "type": "string",
                            "description": "Team ID that executed the trade"
                          },
                          "competitionId": {
                            "type": "string",
                            "description": "ID of the competition this trade is part of"
                          },
                          "fromToken": {
                            "type": "string",
                            "description": "Token address that was sold"
                          },
                          "toToken": {
                            "type": "string",
                            "description": "Token address that was bought"
                          },
                          "fromAmount": {
                            "type": "number",
                            "description": "Amount of fromToken that was sold"
                          },
                          "toAmount": {
                            "type": "number",
                            "description": "Amount of toToken that was received"
                          },
                          "price": {
                            "type": "number",
                            "description": "Price at which the trade was executed"
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the trade was successfully completed"
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message if the trade failed"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of when the trade was executed"
                          },
                          "fromChain": {
                            "type": "string",
                            "description": "Blockchain type of the source token"
                          },
                          "toChain": {
                            "type": "string",
                            "description": "Blockchain type of the destination token"
                          },
                          "fromSpecificChain": {
                            "type": "string",
                            "description": "Specific chain for the source token"
                          },
                          "toSpecificChain": {
                            "type": "string",
                            "description": "Specific chain for the destination token"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/competition/leaderboard": {
      "get": {
        "tags": ["Competition"],
        "summary": "Get competition leaderboard",
        "description": "Get the leaderboard for the active competition or a specific competition",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer token for authentication (format \"Bearer YOUR_API_KEY\")",
            "example": "Bearer abc123def456_ghi789jkl012"
          },
          {
            "in": "query",
            "name": "competitionId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Optional competition ID (if not provided, the active competition is used)"
          }
        ],
        "responses": {
          "200": {
            "description": "Competition leaderboard",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "competition": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Competition ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Competition name"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true,
                          "description": "Competition description"
                        },
                        "startDate": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Competition start date"
                        },
                        "endDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "Competition end date"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["PENDING", "ACTIVE", "COMPLETED"],
                          "description": "Competition status"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the competition was created"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the competition was last updated"
                        }
                      }
                    },
                    "leaderboard": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rank": {
                            "type": "integer",
                            "description": "Team rank on the leaderboard"
                          },
                          "teamId": {
                            "type": "string",
                            "description": "Team ID"
                          },
                          "teamName": {
                            "type": "string",
                            "description": "Team name"
                          },
                          "portfolioValue": {
                            "type": "number",
                            "description": "Current portfolio value in USD"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether the team is active"
                          },
                          "deactivationReason": {
                            "type": "string",
                            "nullable": true,
                            "description": "Reason for deactivation if applicable"
                          }
                        }
                      }
                    },
                    "hasInactiveTeams": {
                      "type": "boolean",
                      "description": "Indicates if any teams are inactive"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - No active competition and no competitionId provided"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication"
          },
          "403": {
            "description": "Forbidden - Team not participating in the competition"
          },
          "404": {
            "description": "Competition not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/competition/status": {
      "get": {
        "tags": ["Competition"],
        "summary": "Get competition status",
        "description": "Get the status of the active competition",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer token for authentication (format \"Bearer YOUR_API_KEY\")",
            "example": "Bearer abc123def456_ghi789jkl012"
          }
        ],
        "responses": {
          "200": {
            "description": "Competition status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "active": {
                      "type": "boolean",
                      "description": "Whether there is an active competition"
                    },
                    "competition": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Competition ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Competition name"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true,
                          "description": "Competition description"
                        },
                        "startDate": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Competition start date"
                        },
                        "endDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "Competition end date"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["PENDING", "ACTIVE", "COMPLETED"],
                          "description": "Competition status"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the competition was created"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the competition was last updated"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Additional information about the competition status",
                      "nullable": true
                    },
                    "participating": {
                      "type": "boolean",
                      "description": "Whether the authenticated team is participating in the competition",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/competition/rules": {
      "get": {
        "tags": ["Competition"],
        "summary": "Get competition rules",
        "description": "Get the rules, rate limits, and other configuration details for the competition",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer token for authentication (format \"Bearer YOUR_API_KEY\")",
            "example": "Bearer abc123def456_ghi789jkl012"
          }
        ],
        "responses": {
          "200": {
            "description": "Competition rules retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "rules": {
                      "type": "object",
                      "properties": {
                        "tradingRules": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of trading rules for the competition"
                        },
                        "rateLimits": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Rate limits for API endpoints"
                        },
                        "availableChains": {
                          "type": "object",
                          "properties": {
                            "svm": {
                              "type": "boolean",
                              "description": "Whether Solana (SVM) is available"
                            },
                            "evm": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "List of available EVM chains"
                            }
                          }
                        },
                        "slippageFormula": {
                          "type": "string",
                          "description": "Formula used for calculating slippage"
                        },
                        "portfolioSnapshots": {
                          "type": "object",
                          "properties": {
                            "interval": {
                              "type": "string",
                              "description": "Interval between portfolio snapshots"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - No active competition"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication"
          },
          "403": {
            "description": "Forbidden - Team not participating in the competition"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Basic health check",
        "description": "Check if the API is running",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Health status of the API",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Current server time"
                    },
                    "uptime": {
                      "type": "number",
                      "description": "Server uptime in seconds"
                    },
                    "version": {
                      "type": "string",
                      "description": "API version"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/health/detailed": {
      "get": {
        "tags": ["Health"],
        "summary": "Detailed health check",
        "description": "Check if the API and all its services are running properly",
        "responses": {
          "200": {
            "description": "Detailed health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Overall health status of the API",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Current server time"
                    },
                    "uptime": {
                      "type": "number",
                      "description": "Server uptime in seconds"
                    },
                    "version": {
                      "type": "string",
                      "description": "API version"
                    },
                    "services": {
                      "type": "object",
                      "description": "Status of individual services",
                      "properties": {
                        "priceTracker": {
                          "type": "string",
                          "description": "Status of the price tracker service",
                          "example": "ok"
                        },
                        "balanceManager": {
                          "type": "string",
                          "description": "Status of the balance manager service",
                          "example": "ok"
                        },
                        "tradeSimulator": {
                          "type": "string",
                          "description": "Status of the trade simulator service",
                          "example": "ok"
                        },
                        "competitionManager": {
                          "type": "string",
                          "description": "Status of the competition manager service",
                          "example": "ok"
                        },
                        "teamManager": {
                          "type": "string",
                          "description": "Status of the team manager service",
                          "example": "ok"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/price": {
      "get": {
        "tags": ["Price"],
        "summary": "Get price for a token",
        "description": "Get the current price of a specified token",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer token for authentication (format \"Bearer YOUR_API_KEY\")",
            "example": "Bearer abc123def456_ghi789jkl012"
          },
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Token address",
            "example": "So11111111111111111111111111111111111111112"
          },
          {
            "in": "query",
            "name": "chain",
            "schema": {
              "type": "string",
              "enum": ["evm", "svm"]
            },
            "required": false,
            "description": "Blockchain type of the token",
            "example": "svm"
          },
          {
            "in": "query",
            "name": "specificChain",
            "schema": {
              "type": "string",
              "enum": [
                "eth",
                "polygon",
                "bsc",
                "arbitrum",
                "optimism",
                "avalanche",
                "base",
                "linea",
                "zksync",
                "scroll",
                "mantle",
                "svm"
              ]
            },
            "required": false,
            "description": "Specific chain for EVM tokens",
            "example": "eth"
          }
        ],
        "responses": {
          "200": {
            "description": "Token price information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the price was successfully retrieved"
                    },
                    "price": {
                      "type": "number",
                      "nullable": true,
                      "description": "Current price of the token in USD"
                    },
                    "token": {
                      "type": "string",
                      "description": "Token address"
                    },
                    "chain": {
                      "type": "string",
                      "enum": ["EVM", "SVM"],
                      "description": "Blockchain type of the token"
                    },
                    "specificChain": {
                      "type": "string",
                      "nullable": true,
                      "description": "Specific chain for EVM tokens"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the price was fetched"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/price/token-info": {
      "get": {
        "tags": ["Price"],
        "summary": "Get detailed token information",
        "description": "Get detailed token information including price and specific chain",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer token for authentication (format \"Bearer YOUR_API_KEY\")",
            "example": "Bearer abc123def456_ghi789jkl012"
          },
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Token address",
            "example": "So11111111111111111111111111111111111111112"
          },
          {
            "in": "query",
            "name": "chain",
            "schema": {
              "type": "string",
              "enum": ["evm", "svm"]
            },
            "required": false,
            "description": "Blockchain type of the token",
            "example": "svm"
          },
          {
            "in": "query",
            "name": "specificChain",
            "schema": {
              "type": "string",
              "enum": [
                "eth",
                "polygon",
                "bsc",
                "arbitrum",
                "optimism",
                "avalanche",
                "base",
                "linea",
                "zksync",
                "scroll",
                "mantle",
                "svm"
              ]
            },
            "required": false,
            "description": "Specific chain for EVM tokens",
            "example": "eth"
          }
        ],
        "responses": {
          "200": {
            "description": "Token information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the token information was successfully retrieved"
                    },
                    "price": {
                      "type": "number",
                      "nullable": true,
                      "description": "Current price of the token in USD"
                    },
                    "token": {
                      "type": "string",
                      "description": "Token address"
                    },
                    "chain": {
                      "type": "string",
                      "enum": ["EVM", "SVM"],
                      "description": "Blockchain type of the token"
                    },
                    "specificChain": {
                      "type": "string",
                      "nullable": true,
                      "description": "Specific chain for EVM tokens"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/trade/execute": {
      "post": {
        "tags": ["Trade"],
        "summary": "Execute a trade",
        "description": "Execute a trade between two tokens",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer token for authentication (format \"Bearer YOUR_API_KEY\")"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["fromToken", "toToken", "amount"],
                "properties": {
                  "fromToken": {
                    "type": "string",
                    "description": "Token address to sell",
                    "example": "So11111111111111111111111111111111111111112"
                  },
                  "toToken": {
                    "type": "string",
                    "description": "Token address to buy",
                    "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount of fromToken to trade",
                    "example": "1.5"
                  },
                  "slippageTolerance": {
                    "type": "string",
                    "description": "Optional slippage tolerance in percentage",
                    "example": "0.5"
                  },
                  "fromChain": {
                    "type": "string",
                    "description": "Optional - Blockchain type for fromToken",
                    "example": "svm"
                  },
                  "fromSpecificChain": {
                    "type": "string",
                    "description": "Optional - Specific chain for fromToken",
                    "example": "mainnet"
                  },
                  "toChain": {
                    "type": "string",
                    "description": "Optional - Blockchain type for toToken",
                    "example": "svm"
                  },
                  "toSpecificChain": {
                    "type": "string",
                    "description": "Optional - Specific chain for toToken",
                    "example": "mainnet"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the trade was successfully executed"
                    },
                    "transaction": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique trade ID"
                        },
                        "teamId": {
                          "type": "string",
                          "description": "Team ID that executed the trade"
                        },
                        "competitionId": {
                          "type": "string",
                          "description": "ID of the competition this trade is part of"
                        },
                        "fromToken": {
                          "type": "string",
                          "description": "Token address that was sold"
                        },
                        "toToken": {
                          "type": "string",
                          "description": "Token address that was bought"
                        },
                        "fromAmount": {
                          "type": "number",
                          "description": "Amount of fromToken that was sold"
                        },
                        "toAmount": {
                          "type": "number",
                          "description": "Amount of toToken that was received"
                        },
                        "price": {
                          "type": "number",
                          "description": "Price at which the trade was executed"
                        },
                        "success": {
                          "type": "boolean",
                          "description": "Whether the trade was successfully completed"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp of when the trade was executed"
                        },
                        "fromChain": {
                          "type": "string",
                          "description": "Blockchain type of the source token"
                        },
                        "toChain": {
                          "type": "string",
                          "description": "Blockchain type of the destination token"
                        },
                        "fromSpecificChain": {
                          "type": "string",
                          "description": "Specific chain for the source token"
                        },
                        "toSpecificChain": {
                          "type": "string",
                          "description": "Specific chain for the destination token"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication"
          },
          "403": {
            "description": "Forbidden - Competition not in progress or other restrictions"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/trade/quote": {
      "get": {
        "tags": ["Trade"],
        "summary": "Get a quote for a trade",
        "description": "Get a quote for a potential trade between two tokens",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Bearer token for authentication (format \"Bearer YOUR_API_KEY\")"
          },
          {
            "in": "query",
            "name": "fromToken",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Token address to sell",
            "example": "So11111111111111111111111111111111111111112"
          },
          {
            "in": "query",
            "name": "toToken",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Token address to buy",
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Amount of fromToken to get quote for",
            "example": 1.5
          },
          {
            "in": "query",
            "name": "fromChain",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Optional blockchain type for fromToken",
            "example": "svm"
          },
          {
            "in": "query",
            "name": "fromSpecificChain",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Optional specific chain for fromToken",
            "example": "mainnet"
          },
          {
            "in": "query",
            "name": "toChain",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Optional blockchain type for toToken",
            "example": "svm"
          },
          {
            "in": "query",
            "name": "toSpecificChain",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Optional specific chain for toToken",
            "example": "mainnet"
          }
        ],
        "responses": {
          "200": {
            "description": "Quote generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fromToken": {
                      "type": "string",
                      "description": "Token address being sold"
                    },
                    "toToken": {
                      "type": "string",
                      "description": "Token address being bought"
                    },
                    "fromAmount": {
                      "type": "number",
                      "description": "Amount of fromToken to be sold"
                    },
                    "toAmount": {
                      "type": "number",
                      "description": "Estimated amount of toToken to be received"
                    },
                    "exchangeRate": {
                      "type": "number",
                      "description": "Exchange rate between the tokens (toAmount / fromAmount)"
                    },
                    "slippage": {
                      "type": "number",
                      "description": "Applied slippage percentage for this trade size"
                    },
                    "prices": {
                      "type": "object",
                      "properties": {
                        "fromToken": {
                          "type": "number",
                          "description": "Price of the source token in USD"
                        },
                        "toToken": {
                          "type": "number",
                          "description": "Price of the destination token in USD"
                        }
                      }
                    },
                    "chains": {
                      "type": "object",
                      "properties": {
                        "fromChain": {
                          "type": "string",
                          "description": "Blockchain type of the source token"
                        },
                        "toChain": {
                          "type": "string",
                          "description": "Blockchain type of the destination token"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  }
}
